<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plutus</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
      html, body {
           height: 100%;
           font-family: "Poppins", sans-serif;
           background: #262626;
      }
    </style>
</head>
<body>
  <img src="/logo.png" alt="" style="width: 100px; position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto;">
  <p style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; color: white; margin: auto; width: fit-content; height: fit-content; padding-top: 150px">E-posta adresini doğrulaman için sana bir link gönderdik.</p>
  <p style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; color: white; margin: auto; width: fit-content; height: fit-content; padding-top: 200px">Gönderdiğimiz maildeki linki kullanarak Plutus'ü arkadaşlarınla paylaş, ekstra can kazan.</p>
</body>
</html>